Checks: >
  -*,
  bugprone-*,
  google-*,
  -google-readability-namespace-comments,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*

WarningsAsErrors: "*"
